/* Initial config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul,
a {
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

body {
  background-color: var(--black);
  margin: 0;
  overflow: hidden;
  height: 1000vh;
}
body.pink {
  background-color: var(--pink--light);

  .title--header {
    color: var(--white);
  }
}
body.white {
  background-color: var(--white);
}

:root {
  scroll-behavior: smooth;

  /* Pink theme */
  --pink--light: #fff5fc;
  --pink--black: #191718;

  /* Dark theme */
  --white: #ffffff;
  --black: #1f1f1f;
  --black--text: #a9a9a9;
  --black--light: #cdcdcd;
  --black--light--light: #2e343b;
  --black--light--dark: #3b3b3b;
}

/* Text config */
/* Minimum in clamp is 42% of max */

.title {
  /* For big titles, like my name. */

  font-family: "Poppins";
  font-weight: 600;
  font-size: clamp(36px, 8dvh, 82px);
  letter-spacing: -0.06em;
}

.title--header {
  /* This is a font for the header. */

  font-family: "Poppins";
  font-weight: 600;
  font-size: clamp(10px, 3dvh, 24px);
  line-height: 36px;
  letter-spacing: -0.06em;
  padding: 1%;
}

@media (max-width: 1134px) {
  .title--header {
    font-size: clamp(10px, 2.4dvw, 24px);
  }
}

.title--sub {
  /* Its the subtitle for title. */

  font-family: "Pridi";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(26px, 6dvh, 62px);
  letter-spacing: -0.06em;
}

.title--sub--sub {
  /* It's the second and final subtitle. */

  font-family: "Pridi";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(14px, 3dvh, 32px);
  letter-spacing: -0.06em;

  text-align: center;
}

.title--large--sub--sub {
  /* It's the second and final subtitle for large titles. */

  font-family: "Pridi";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(22px, 4dvh, 40px);
  line-height: 62px;
  letter-spacing: -0.06em;

  color: var(--black);
}

.paragraph--large {
  /* The paragraphs in large version. */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(10px, 2.5dvh, 24px);
  line-height: 42px;
  letter-spacing: -0.06em;

  color: var(--white);
}

.paragraph {
  /* This is used for the description of many stuff. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(8px, 2dvh, 20px);
  line-height: 35px;
  letter-spacing: -0.06em;

  color: var(--white);
}

/* Config classes */

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 0px;
  height: 0px;
}

#loader {
  display: flex;
  position: fixed;
  z-index: 99;

  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-color: var(--black);
  color: var(--white);
}

.button {
  background-color: var(--button-color);

  padding: 1% 5%;
  border-radius: 15px;
}

/* Header section */

#header__row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  position: fixed;

  top: 50%;
  transform: translateY(-50%);

  left: -140px;

  gap: clamp(10px, 2dvh, 50px);

  > .header__row__text {
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    gap: clamp(0px, 5dvh, 72px);

    > .header__row__background {
      position: fixed;

      min-height: clamp(450px, 36px + 70dvh, 700px);
      min-width: 150px;

      border-radius: 12px;

      z-index: -1;
      background-color: var(--black--light);
    }
  }
}

.header__row__color-change {
  display: flex;

  #color-change {
    flex-direction: row;
    display: flex;

    gap: 5px;
  }

  .color-change {
    background-color: var(--black);

    min-height: clamp(20px, 10.9091px + 2.8409vw, 40px);
    min-width: clamp(20px, 10.9091px + 2.8409vw, 40px);
    border-radius: 500px;

    cursor: pointer;

    + .color-change {
      background-color: var(--white);
    }

    + .color-change:last-child {
      background-color: #ffe6f8;
    }
  }
}

/* Header selection */

.header__row__text a:hover {
  background-color: var(--white);
  border-radius: 50px;
}

/* Menu section */

.menu {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  width: clamp(30px, 20.9091px + 2.8409vw, 50px);
  height: clamp(30px, 20.9091px + 2.8409vw, 50px);

  background-color: var(--black--light);

  border-radius: 14px 0px 0px 14px;
}

.menu__arrow {
  height: clamp(15px, 10.4545px + 1.4205vw, 25px);
  width: clamp(15px, 10.4545px + 1.4205vw, 25px);

  background-image: url("../assets/hidden-menu__arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#menu__header {
  position: relative;

  bottom: 10px;
  transform: translateY(50%) rotate(180deg);
  left: 140px;
}
