@media (max-width: 1134px) and (max-height: 745px) {
  .header__row {
    flex-direction: row;
    position: relative;
    justify-content: center;

    padding-top: 7dvh;
    left: 0;
    gap: 0;

    transform: none;

    > .header__row__text {
      width: -webkit-fill-available;
      flex-direction: row;

      gap: 2dvw;

      > .header__row__background {
        min-height: clamp(30px, 8dvh, 99px);
        min-width: clamp(300px, 85dvw, 749px);

        border-radius: 50px;
      }
    }

    > .header__row__color-change {
      position: fixed;
      flex-direction: row;

      top: 18dvh;
      right: clamp(-54px, -24.9091px - 2.8409vw, -34px);

      > #color-change {
        background-color: var(--black--light);
        padding: 1dvh;

        flex-direction: column;
      }
    }
  }
}
